<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mgnt.dao.userDao.UserMapper">

    <!--<select id="getUserById" resultType="com.demo.mgnt.dao.userDao.eo.UserEo">
        SELECT * FROM v1_user where id=#{userId}
    </select>-->

</mapper>